# Search the articles

This notebook will search the articles for the project exploiting the [Media Cloud](https://mediacloud.org/) database.
One have to set the customizable parameters:

1. `PATH_TO_DATA` is the Path object for saving the constructed DataFrames;
2. `MY_KEY` parameter is the user key every Media Cloud user has been provided once signed up, for more info go [here](https://github.com/mediacloud/backend/blob/master/doc/api_2_0_spec/api_2_0_spec.md#authentication);
3. `MIN_LEGTH` parameter is the minimiun length that a word must have to be considered for the word vector;
4. `MIN_FREQUENCY` parameter is the minimum frequency a word must appear in at least one article to be considered for the word vector;
5. `MAX_ARTICLES` parameter set the maximum number of articles to search;
6. `N_THREADS` parameter set the number of threads for parallelizing some of the procedures.

In [6]:
import requests
import pandas as pd
import numpy as np
from pathlib import Path
from tqdm import tqdm
from joblib import Parallel, delayed
import time


# Constants, NOT TO BE CHANGED
MEDIA_CLOUD_URL = 'https://api.mediacloud.org'
STORIES_SINGLE = '/api/v2/stories_public/single/'
STORIES_WORD_MATRIX = '/api/v2/stories_public/word_matrix/'
# These following have to be customized
PATH_TO_DATA = Path('../data')
MY_KEY = '66aa9cf8dbd642b0e47f6811764cbe451a84d9429b8d2b3647c97c0af8fd40f5'
MIN_LENGTH = 0
MIN_FREQUENCY = 10
MAX_ARTICLES = 1000
N_THREADS = 12

The following cell will run the query that will get the word matrix (used in the project).
One has to customize the filters for getting what he/she is interested in.
Remind that the epidemic model works fine for events that have a rapid spreading (popular, interesting) and then die, because of that one has to pay attention not only to the argument but also to the time windows.
For more info about constructing the query look [here](https://github.com/mediacloud/backend/blob/master/doc/api_2_0_spec/api_2_0_spec.md#query-parameters-5).

In [8]:
start = time.time()
# Initialize articles' ids list
stories_id = []
# Filter to pass to the query
params = {
    # numer of articles per query
    'rows': MAX_ARTICLES,
    # filtering the language of the article to have consistent words
    'q': 'capitol hill assault',
    # main filters: arguments and so on
    'fq': 'publish_date:[2021-01-05T23:59:59.999Z TO 2021-04-05T23:59:59.999Z]',
    # personal key to pass to the query
    'key': MY_KEY,
}
end = time.time()
print('Build request, overall time elapsed: {}'.format(end - start))
# Get word matrix of the query
r = requests.get(
    MEDIA_CLOUD_URL+STORIES_WORD_MATRIX,
    params=params,
    headers={'Accept': 'application/json'})
end = time.time()
print('Sent and retrieved request, overall time elapsed: {}'.format(end - start))
# Retrieve the results to be analyzed
stories_word_info = r.json()
print('Found {} articles'.format(len(stories_word_info)))
end = time.time()
print('Overall time elapsed: {}'.format(end - start))

Build request, overall time elapsed: 0.00010442733764648438
Sent and retrieved request, overall time elapsed: 32.85556960105896
Found 2 articles
Overall time elapsed: 32.99162268638611

The following cell will build the words vector DataFrame using `pandas` library.
The DataFrame will have a column (`id`) with the id of the article, and also one column per word named with that word.
For 3k articles this should take TODO.

In [15]:
words_df = pd.DataFrame()
n_words = len(stories_word_info['word_list'])
columns = [stories_word_info['word_list'][i][0] for i in range(len(stories_word_info['word_list']))]
columns.insert(0,'article_id')
keys_iterator = tqdm(
    stories_word_info['word_matrix'].keys(),
    leave=True,
    unit='articles',
)
def process(key):
    word_vector_dict = stories_word_info['word_matrix'][key]
    word_vector = np.zeros(n_words)
    for kkey in word_vector_dict.keys():
        word_vector[eval(kkey)] = word_vector_dict[kkey]
    word_vector = list([key])+list(word_vector)
    return pd.DataFrame([word_vector], columns=columns)
    
results = Parallel(n_jobs=N_THREADS)(delayed(process)(i) for i in keys_iterator)

100%|██████████| 997/997 [03:11<00:00,  5.22keys/s]

,article_id,stay,video,plaza,jan,juvenil,month,northeastern,nation,ireland,...,amiri,flaccus,semi-retir,szelag,best-cas,cordoned-off,dearborn,blocked-off,cort,soul-search
0,1816284987,0.0,4.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1816399963,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1816432915,1.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1816531981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1816681233,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,1925068603,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
993,1927466638,5.0,0.0,0.0,0.0,0.0,6.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
994,1928459370,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995,1929004953,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,1979466547,0.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
words_df = pd.concat(results, axis=0).reset_index().drop('index', 1).drop('level_0', 1)
#del results
words_df

,article_id,stay,video,plaza,jan,juvenil,month,northeastern,nation,ireland,...,amiri,flaccus,semi-retir,szelag,best-cas,cordoned-off,dearborn,blocked-off,cort,soul-search
0,1816284987,0.0,4.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1816399963,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1816432915,1.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1816531981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1816681233,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,1925068603,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
993,1927466638,5.0,0.0,0.0,0.0,0.0,6.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
994,1928459370,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995,1929004953,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,1979466547,0.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

The following cell will drop out the column corresponding to the word that should not be counted for the words vectors as set by the parameters `MIN_LENGTH` and `MIN_FREQUENCY`.

In [18]:
cols_iterator = tqdm(
    words_df.columns[1:],
    leave=True,
    unit='columns',
)

special_characters = ".\!@#$%^&*()-+?_=,<>/"

def has_numbers(inputString):
    return any(char.isdigit() for char in inputString)

def has_special_chars(inputString):
    return any(c in special_characters for c in inputString)

def process_drop(col):
    tmp = pd.to_numeric(words_df[col])
    #if len(col) < MIN_LENGTH or len(tmp[tmp>0]) == 0 or has_numbers(col) or has_special_chars(col):
    if has_numbers(col):# or has_special_chars(col):
        return col
    
cols = Parallel(n_jobs=N_THREADS)(delayed(process_drop)(i) for i in cols_iterator)
cols

100%|██████████| 50847/50847 [00:13<00:00, 3666.60columns/s]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '6,200',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '25th',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '2nd',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [19]:
cols = [x for x in cols if (str(x) != 'nan' and str(x) != 'NaN' and str(x) != '' and str(x) != 'None')]
words_df = words_df.drop(cols, 1)
#del cols
words_df

,article_id,stay,video,plaza,jan,juvenil,month,northeastern,nation,ireland,...,amiri,flaccus,semi-retir,szelag,best-cas,cordoned-off,dearborn,blocked-off,cort,soul-search
0,1816284987,0.0,4.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1816399963,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1816432915,1.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1816531981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1816681233,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,1925068603,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
993,1927466638,5.0,0.0,0.0,0.0,0.0,6.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
994,1928459370,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995,1929004953,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,1979466547,0.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

The following cell will build the article info DataFrame using `pandas` library.
Data about articles will be extracted by usign a query to Media Cloud for the single story.
The DataFrame will have a column (`id`) with the id of the article.
Column `timestamp` will carry the data in which the article has been published.
Columns `source` will carry the media id of the media in which the article has been published.
It is necessary to reordering in cronological order the articles.

In [20]:
article_id_iterator = tqdm(
    words_df['article_id'],
    leave=True,
    unit='columns',
)
def process_info(article_id):
    r = requests.get(
        MEDIA_CLOUD_URL+STORIES_SINGLE+str(article_id),
        params={'key': MY_KEY},
        headers={'Accept': 'application/json'}
    )
    story = r.json()[0]
    return pd.DataFrame(
            [{
                'article_id': article_id,
                'timestamp': str(story['publish_date'])[:10],
                'source': story['media_id'],
            }]
        )
articles_info = Parallel(n_jobs=N_THREADS)(delayed(process_info)(i) for i in article_id_iterator)
articles_info

100%|██████████| 997/997 [01:21<00:00, 12.29columns/s]

[   article_id   timestamp  source
 0  1816284987  2021-01-06  152133,
    article_id   timestamp  source
 0  1816399963  2021-01-06  121175,
    article_id   timestamp  source
 0  1816432915  2021-01-06   90123,
    article_id   timestamp  source
 0  1816531981  2021-01-06   98039,
    article_id   timestamp  source
 0  1816681233  2021-01-06   70300,
    article_id   timestamp  source
 0  1816696057  2021-01-06  239578,
    article_id   timestamp  source
 0  1816701081  2021-01-06   18364,
    article_id   timestamp  source
 0  1816728190  2021-01-06      74,
    article_id   timestamp  source
 0  1816734031  2021-01-06  280031,
    article_id   timestamp  source
 0  1816773278  2021-01-06  195373,
    article_id   timestamp  source
 0  1816802115  2021-01-06    5721,
    article_id   timestamp  source
 0  1816806402  2021-01-06  661229,
    article_id   timestamp  source
 0  1816818727  2021-01-06  119212,
    article_id   timestamp  source
 0  1816840585  2021-01-06   27590,
    article_id   timestamp  source
 0  1816841162  2021-01-06   20153,
    article_id   timestamp  source
 0  1816862591  2021-01-06  299946,
    article_id   timestamp  source
 0  1816879337  2021-01-06  270410,
    article_id   timestamp  source
 0  1816946777  2021-01-06   28214,
    article_id   timestamp  source
 0  1816960593  2021-01-07  656354,
    article_id   timestamp  source
 0  1816969700  2021-01-06  659066,
    article_id   timestamp  source
 0  1816977335  2021-01-06  371420,
    article_id   timestamp  source
 0  1816979820  2021-01-06  649942,
    article_id   timestamp  source
 0  1817006484  2021-01-06   92482,
    article_id   timestamp  source
 0  1817020961  2021-01-06       6,
    article_id   timestamp  source
 0  1817032186  2021-01-07   25154,
    article_id   timestamp  source
 0  1817038127  2021-01-07  380714,
    article_id   timestamp  source
 0  1817057047  2021-01-07  380157,
    article_id   timestamp  source
 0  1817090409  2021-01-07  102749,
    article_id   timestamp  source
 0  1817131831  2021-01-07   25250,
    article_id   timestamp  source
 0  1817150705  2021-01-06  307431,
    article_id   timestamp  source
 0  1817154310  2021-01-07   42167,
    article_id   timestamp  source
 0  1817167034  2021-01-07   39872,
    article_id   timestamp  source
 0  1817167833  2021-01-07   41150,
    article_id   timestamp  source
 0  1817183469  2021-01-07   27955,
    article_id   timestamp  source
 0  1817237705  2021-01-06    1708,
    article_id   timestamp  source
 0  1817246087  2021-01-07   59690,
    article_id   timestamp  source
 0  1817269298  2021-01-07  660380,
    article_id   timestamp  source
 0  1817296914  2021-01-07   63091,
    article_id   timestamp  source
 0  1817375539  2021-01-06  663002,
    article_id   timestamp  source
 0  1817384134  2021-01-07   25279,
    article_id   timestamp  source
 0  1817472902  2021-01-07   66208,
    article_id   timestamp  source
 0  1817485650  2021-01-07  297305,
    article_id   timestamp  source
 0  1817499403  2021-01-07   84097,
    article_id   timestamp  source
 0  1817524892  2021-01-07   26987,
    article_id   timestamp  source
 0  1817529254  2021-01-07   25755,
    article_id   timestamp  source
 0  1817537890  2021-01-07   27951,
    article_id   timestamp  source
 0  1817559632  2021-01-07   23411,
    article_id   timestamp  source
 0  1817559654  2021-01-07   21542,
    article_id   timestamp  source
 0  1817643344  2021-01-07   41150,
    article_id   timestamp   source
 0  1817654571  2021-01-07  1714404,
    article_id   timestamp  source
 0  1817759957  2021-01-07   29787,
    article_id   timestamp  source
 0  1817795105  2021-01-07   67594,
    article_id   timestamp  source
 0  1817829549  2021-01-07  444797,
    article_id   timestamp  source
 0  1817840686  2021-01-07  510133,
    article_id   timestamp  source
 0  1817842917  2021-01-07  295887,
    article_id   timestamp  source
 0  1817867220  2021-01-07   27960,
    article_id   timestamp  source
 0  1817868063  2021-01-07  157151,
    article_id   timestamp  source
 0  1817871059  2021-01-07  100829,
    article_id   timestamp  source
 0  1817889409  2021-01-07   25499,
    article_id   timestamp  source
 0  1817899549  2021-01-07  503987,
    article_id   timestamp  source
 0  1817913466  2021-01-07   93913,
    article_id   timestamp  source
 0  1817945257  2021-01-07  623377,
    article_id   timestamp  source
 0  1817973145  2021-01-08  143937,
    article_id   timestamp  source
 0  1817993080  2021-01-08   39488,
    article_id   timestamp  source
 0  1818005590  2021-01-08    1749,
    article_id   timestamp  source
 0  1818005742  2021-01-08   27150,
    article_id   timestamp  source
 0  1818152835  2021-01-08   41489,
    article_id   timestamp  source
 0  1818198448  2021-01-08   62909,
    article_id   timestamp  source
 0  1818277395  2021-01-08  658618,
    article_id   timestamp  source
 0  1818281904  2021-01-08  116287,
    article_id   timestamp  source
 0  1818402999  2021-01-08   18710,
    article_id   timestamp  source
 0  1818428977  2021-01-08  623377,
    article_id   timestamp  source
 0  1818531655  2021-01-08    1747,
    article_id   timestamp  source
 0  1818551031  2021-01-08    6483,
    article_id   timestamp  source
 0  1818605119  2021-01-08   18364,
    article_id   timestamp  source
 0  1818626755  2021-01-08       7,
    article_id   timestamp  source
 0  1818677182  2021-01-08   26524,
    article_id   timestamp  source
 0  1818714730  2021-01-08    1351,
    article_id   timestamp  source
 0  1818746032  2021-01-08   26164,
    article_id   timestamp  source
 0  1818761142  2021-01-08   25139,
    article_id   timestamp  source
 0  1818774674  2021-01-08  380749,
    article_id   timestamp  source
 0  1818786253  2021-01-08      40,
    article_id   timestamp  source
 0  1818795180  2021-01-08  298577,
    article_id   timestamp  source
 0  1818799491  2021-01-08  283336,
    article_id   timestamp  source
 0  1818822442  2021-01-08  653580,
    article_id   timestamp  source
 0  1818822511  2021-01-08   38706,
    article_id   timestamp  source
 0  1818877350  2021-01-08  317507,
    article_id   timestamp  source
 0  1818897690  2021-01-09  338196,
    article_id   timestamp  source
 0  1818935520  2021-01-09  656972,
    article_id   timestamp  source
 0  1818967658  2021-01-09   63091,
    article_id   timestamp  source
 0  1819101844  2021-01-09  339840,
    article_id   timestamp  source
 0  1819155958  2021-01-09  623375,
    article_id   timestamp  source
 0  1819203906  2021-01-09   18029,
    article_id   timestamp  source
 0  1819238105  2021-01-09   22294,
    article_id   timestamp  source
 0  1819306127  2021-01-09    1747,
    article_id   timestamp  source
 0  1819354533  2021-01-09   41288,
    article_id   timestamp  source
 0  1819361933  2021-01-09   76048,
    article_id   timestamp  source
 0  1819389096  2021-01-09   54554,
    article_id   timestamp  source
 0  1819392366  2021-01-09   27557,
    article_id   timestamp  source
 0  1819405999  2021-01-09  662029,
    article_id   timestamp  source
 0  1819473818  2021-01-09   39717,
    article_id   timestamp  source
 0  1819521278  2021-01-09    4469,
    article_id   timestamp  source
 0  1819585429  2021-01-09   68397,
    article_id   timestamp  source
 0  1819655355  2021-01-10  649834,
    article_id   timestamp  source
 0  1819797993  2021-01-10   68908,
    article_id   timestamp  source
 0  1819819070  2021-01-10  185171,
    article_id   timestamp  source
 0  1819880406  2021-01-10  659946,
    article_id   timestamp  source
 0  1819900313  2021-01-10  106542,
    article_id   timestamp  source
 0  1819927328  2021-01-10       4,
    article_id   timestamp  source
 0  1819935251  2021-01-10      52,
    article_id   timestamp  source
 0  1820023247  2021-01-10   25133,
    article_id   timestamp  source
 0  1820087040  2021-01-10  396987,
    article_id   timestamp  source
 0  1820130178  2021-01-10  651255,
    article_id   timestamp  source
 0  1820169993  2021-01-10   25874,
    article_id   timestamp  source
 0  1820234073  2021-01-11   24592,
    article_id   timestamp  source
 0  1820270814  2021-01-11   40268,
    article_id   timestamp  source
 0  1820428331  2021-01-11  148967,
    article_id   timestamp  source
 0  1820457007  2021-01-11  767673,
    article_id   timestamp  source
 0  1820462150  2021-01-11  213700,
    article_id   timestamp  source
 0  1820506299  2021-01-11  661229,
    article_id   timestamp  source
 0  1820527704  2021-01-11    1123,
    article_id   timestamp  source
 0  1820667386  2021-01-11  112564,
    article_id   timestamp  source
 0  1820695430  2021-01-11  662786,
    article_id   timestamp  source
 0  1820722050  2021-01-11  380016,
    article_id   timestamp  source
 0  1820729422  2021-01-11   25750,
    article_id   timestamp  source
 0  1820766193  2021-01-11    1096,
    article_id   timestamp  source
 0  1820783825  2021-01-11   40876,
    article_id   timestamp  source
 0  1820795714  2021-01-11   41942,
    article_id   timestamp  source
 0  1820801611  2021-01-11  659946,
    article_id   timestamp  source
 0  1820835076  2021-01-11   90683,
    article_id   timestamp  source
 0  1820848523  2021-01-11   54346,
    article_id   timestamp  source
 0  1820855418  2021-01-11      72,
    article_id   timestamp  source
 0  1820884299  2021-01-11      66,
    article_id   timestamp  source
 0  1820910325  2021-01-11   28761,
    article_id   timestamp  source
 0  1820934866  2021-01-11  659893,
    article_id   timestamp  source
 0  1820939194  2021-01-11       1,
    article_id   timestamp  source
 0  1820940579  2021-01-11  137718,
    article_id   timestamp  source
 0  1820942160  2021-01-11  108369,
    article_id   timestamp  source
 0  1820951603  2021-01-11    1747,
    article_id   timestamp  source
 0  1821039670  2021-01-11   85868,
    article_id   timestamp  source
 0  1821047250  2021-01-11   23248,
    article_id   timestamp  source
 0  1821049104  2021-01-11    1747,
    article_id   timestamp  source
 0  1821081745  2021-01-11   27978,
    article_id   timestamp  source
 0  1821160077  2021-01-12  623419,
    article_id   timestamp  source
 0  1821173503  2021-01-12   71864,
    article_id   timestamp  source
 0  1821176620  2021-01-11   62777,
    article_id   timestamp  source
 0  1821258359  2021-01-11  106888,
    article_id   timestamp   source
 0  1821285761  2021-01-10  1644394,
    article_id   timestamp  source
 0  1821305845  2021-01-12   56510,
    article_id   timestamp  source
 0  1821351347  2021-01-11  106888,
    article_id   timestamp  source
 0  1821368158  2021-01-12  300560,
    article_id   timestamp  source
 0  1821439458  2021-01-12    1127,
    article_id   timestamp  source
 0  1821610846  2021-01-11  658595,
    article_id   timestamp  source
 0  1821684295  2021-01-12  111512,
    article_id   timestamp  source
 0  1821710218  2021-01-12  656320,
    article_id   timestamp  source
 0  1821829614  2021-01-12  751082,
    article_id   timestamp  source
 0  1821869198  2021-01-12  655202,
    article_id   timestamp  source
 0  1821905662  2021-01-12   18268,
    article_id   timestamp  source
 0  1821938553  2021-01-12  113634,
    article_id   timestamp  source
 0  1821982112  2021-01-12   69522,
    article_id   timestamp  source
 0  1822026941  2021-01-12    4426,
    article_id   timestamp  source
 0  1822048397  2021-01-12  659789,
    article_id   timestamp  source
 0  1822061125  2021-01-12  380859,
    article_id   timestamp  source
 0  1822067753  2021-01-12   27558,
    article_id   timestamp  source
 0  1822069855  2021-01-12   63302,
    article_id   timestamp  source
 0  1822078954  2021-01-12   28148,
    article_id   timestamp  source
 0  1822114291  2021-01-12  664088,
    article_id   timestamp  source
 0  1822129861  2021-01-12   18704,
    article_id   timestamp  source
 0  1822183128  2021-01-12  366697,
    article_id   timestamp  source
 0  1822201746  2021-01-12  300545,
    article_id   timestamp  source
 0  1822240874  2021-01-12  537424,
    article_id   timestamp  source
 0  1822265070  2021-01-12   87658,
    article_id   timestamp  source
 0  1822284878  2021-01-13       1,
    article_id   timestamp  source
 0  1822468821  2021-01-13   56353,
    article_id   timestamp  source
 0  1822526765  2021-01-13  110383,
    article_id   timestamp  source
 0  1822549985  2021-01-13    4426,
    article_id   timestamp  source
 0  1822619143  2021-01-13  385504,
    article_id   timestamp  source
 0  1822692496  2021-01-13  651256,
    article_id   timestamp  source
 0  1822704174  2021-01-13    1270,
    article_id   timestamp  source
 0  1822728811  2021-01-13  122990,
    article_id   timestamp  source
 0  1822773169  2021-01-13   19822,
    article_id   timestamp  source
 0  1822865842  2021-01-13   25791,
    article_id   timestamp  source
 0  1822895168  2021-01-13  658737,
    article_id   timestamp  source
 0  1822952499  2021-01-13  664079,
    article_id   timestamp  source
 0  1823002209  2021-01-13  656975,
    article_id   timestamp  source
 0  1823019702  2021-01-13  651265,
    article_id   timestamp  source
 0  1823023494  2021-01-13  433540,
    article_id   timestamp  source
 0  1823133046  2021-01-13   22565,
    article_id   timestamp  source
 0  1823151377  2021-01-13    1092,
    article_id   timestamp  source
 0  1823168090  2021-01-13   18364,
    article_id   timestamp  source
 0  1823194191  2021-01-13   92482,
    article_id   timestamp  source
 0  1823200464  2021-01-13  659491,
    article_id   timestamp  source
 0  1823231641  2021-01-13  651279,
    article_id   timestamp  source
 0  1823234637  2021-01-13      25,
    article_id   timestamp  source
 0  1823241858  2021-01-13   28036,
    article_id   timestamp  source
 0  1823247618  2021-01-13  649899,
    article_id   timestamp  source
 0  1823262498  2021-01-13  656971,
    article_id   timestamp  source
 0  1823303996  2021-01-13  387056,
    article_id   timestamp  source
 0  1823336578  2021-01-13  106888,
    article_id   timestamp  source
 0  1823370235  2021-01-13   32770,
    article_id   timestamp  source
 0  1823429132  2021-01-13   41608,
    article_id   timestamp  source
 0  1823433217  2021-01-13  379994,
    article_id   timestamp  source
 0  1823513215  2021-01-14  324322,
    article_id   timestamp  source
 0  1823682626  2021-01-13  651277,
    article_id   timestamp  source
 0  1823687842  2021-01-14   29808,
    article_id   timestamp  source
 0  1823704942  2021-01-14   72801,
    article_id   timestamp  source
 0  1823705051  2021-01-14   80158,
    article_id   timestamp  source
 0  1823767452  2021-01-14   40382,
    article_id   timestamp  source
 0  1823780124  2021-01-14      35,
    article_id   timestamp  source
 0  1823819056  2021-01-14  552581,
    article_id   timestamp  source
 0  1823819534  2021-01-14  658947,
    article_id   timestamp  source
 0  1823876616  2021-01-14  106888,
    article_id   timestamp  source
 0  1823895417  2021-01-14   80158,
    article_id   timestamp  source
 0  1823932824  2021-01-14   25488,
    article_id   timestamp  source
 0  1823977340  2021-01-14   23049,
    article_id   timestamp  source
 0  1824025931  2021-01-14  287512,
    article_id   timestamp  source
 0  1824070965  2021-01-14   77362,
    article_id   timestamp  source
 0  1824124324  2021-01-14  104147,
    article_id   timestamp   source
 0  1824125861  2021-01-14  1710819,
    article_id   timestamp  source
 0  1824153011  2021-01-14  173020,
    article_id   timestamp  source
 0  1824216037  2021-01-14   40653,
    article_id   timestamp  source
 0  1824224706  2021-01-14   22565,
    article_id   timestamp  source
 0  1824257532  2021-01-14    7173,
    article_id   timestamp  source
 0  1824266289  2021-01-14   27502,
    article_id   timestamp  source
 0  1824267034  2021-01-14  659013,
    article_id   timestamp  source
 0  1824269945  2021-01-14   19197,
    article_id   timestamp  source
 0  1824301576  2021-01-14    1123,
    article_id   timestamp  source
 0  1824331444  2021-01-14     304,
    article_id   timestamp  source
 0  1824353567  2021-01-14  651268,
    article_id   timestamp  source
 0  1824354488  2021-01-14  271629,
    article_id   timestamp  source
 0  1824363829  2021-01-14  190807,
    article_id   timestamp  source
 0  1824364825  2021-01-14   69659,
    article_id   timestamp  source
 0  1824388851  2021-01-14  651255,
    article_id   timestamp  source
 0  1824411837  2021-01-14  651272,
    article_id   timestamp  source
 0  1824450574  2021-01-14  651273,
    article_id   timestamp  source
 0  1824467421  2021-01-14   93913,
    article_id   timestamp  source
 0  1824719103  2021-01-15   29485,
    article_id   timestamp  source
 0  1824855854  2021-01-15   39000,
    article_id   timestamp  source
 0  1825160042  2021-01-15  127044,
    article_id   timestamp  source
 0  1825161864  2021-01-15    5550,
    article_id   timestamp  source
 0  1825162428  2021-01-15  380715,
    article_id   timestamp  source
 0  1825184779  2021-01-15   68816,
    article_id   timestamp  source
 0  1825256289  2021-01-15   57137,
    article_id   timestamp  source
 0  1825296920  2021-01-14   25927,
    article_id   timestamp  source
 0  1825491955  2021-01-15  109076,
    article_id   timestamp  source
 0  1825494203  2021-01-15   83188,
    article_id   timestamp  source
 0  1825609477  2021-01-15  651257,
    article_id   timestamp  source
 0  1825642026  2021-01-16   41564,
    article_id   timestamp  source
 0  1825790128  2021-01-16   25128,
    article_id   timestamp  source
 0  1825839527  2021-01-16    5719,
    article_id   timestamp  source
 0  1825875720  2021-01-16   76174,
    article_id   timestamp  source
 0  1825951342  2021-01-16  109777,
    article_id   timestamp  source
 0  1826024160  2021-01-16  414183,
    article_id   timestamp  source
 0  1826048343  2021-01-16  106888,
    article_id   timestamp  source
 0  1826056948  2021-01-16  651250,
    article_id   timestamp  source
 0  1826063822  2021-01-16  333152,
    article_id   timestamp  source
 0  1826105762  2021-01-16    1099,
    article_id   timestamp  source
 0  1826110282  2021-01-16   31746,
    article_id   timestamp  source
 0  1826152741  2021-01-17  623419,
    article_id   timestamp  source
 0  1826213690  2021-01-17   27416,
    article_id   timestamp  source
 0  1826224461  2021-01-17    4763,
    article_id   timestamp  source
 0  1826343168  2021-01-17  303502,
    article_id   timestamp  source
 0  1826396796  2021-01-17    1110,
    article_id   timestamp  source
 0  1826552840  2021-01-17   40918,
    article_id   timestamp  source
 0  1826580852  2021-01-17   38895,
    article_id   timestamp  source
 0  1826641501  2021-01-17       1,
    article_id   timestamp  source
 0  1826649431  2021-01-17  385504,
    article_id   timestamp  source
 0  1826677281  2021-01-17   25798,
    article_id   timestamp  source
 0  1826703771  2021-01-17  653346,
    article_id   timestamp  source
 0  1826749932  2021-01-18   41838,
    article_id   timestamp  source
 0  1826843618  2021-01-18  200951,
    article_id   timestamp  source
 0  1826882776  2021-01-18  655769,
    article_id   timestamp  source
 0  1826944472  2021-01-17   66279,
    article_id   timestamp  source
 0  1826962167  2021-01-18   28216,
    article_id   timestamp  source
 0  1826999341  2021-01-18  294347,
    article_id   timestamp  source
 0  1827059939  2021-01-18  144975,
    article_id   timestamp  source
 0  1827098252  2021-01-18  361078,
    article_id   timestamp  source
 0  1827121583  2021-01-18  623377,
    article_id   timestamp  source
 0  1827126413  2021-01-18  380983,
    article_id   timestamp  source
 0  1827214627  2021-01-18   23411,
    article_id   timestamp  source
 0  1827220290  2021-01-18  383731,
    article_id   timestamp  source

In [21]:
info_df = pd.concat(articles_info, axis=0).reset_index().drop('index', 1)
info_df['timestamp'] = pd.to_datetime(info_df.timestamp)
info_df = info_df.sort_values(by='timestamp')
#del articles_info
info_df

     article_id  timestamp  source
0    1816284987 2021-01-06  152133
38   1817375539 2021-01-06  663002
34   1817237705 2021-01-06    1708
29   1817150705 2021-01-06  307431
22   1817006484 2021-01-06   92482
..          ...        ...     ...
982  1897143334 2021-04-04   18350
984  1897556452 2021-04-05  390379
983  1897427444 2021-04-05  661229
986  1897867369 2021-04-05  212407
987  1897917137 2021-04-05   77362

[997 rows x 3 columns]

The same order must be given to the other DataFrame obviously.

In [22]:
words_df = words_df.reindex(info_df.index.tolist())
words_df

,article_id,stay,video,plaza,jan,juvenil,month,northeastern,nation,ireland,...,amiri,flaccus,semi-retir,szelag,best-cas,cordoned-off,dearborn,blocked-off,cort,soul-search
0,1816284987,0.0,4.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,1817375539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,1817237705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,1817150705,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,1817006484,0.0,7.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,1897143334,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
984,1897556452,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
983,1897427444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
986,1897867369,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
987,1897917137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Finally, the DataFrames are save in the data folder, defined by `PATH_TO_DATA`.

In [ ]:
words_df.to_csv(PATH_TO_DATA/'words_dataframe.csv')
info_df.to_csv(PATH_TO_DATA/'info_dataframe.csv')